.flex.items-center.justify-end
  .flex-auto.b1-bottom
    .p2.md-p3.bold
      %i.fa.fa-dashboard.mr1
      Dashboard
  .flex-none
    = render partial: 'shared/datepicker'

.bg-white.flex-auto.p2.md-p3.lg-p4
  .row.col-xs-12
    .col.col-md-6.center
      .md-mr1
        .row.b1.b0-bottom
          .col-md-6.p2.md-p3
            %h4.m0 Total impressions
            .h2= @webmaster.impression_total
          .col-md-6.p2.md-p3
            %h4.m0 Total reactions
            .h2= @webmaster.reaction_total
        .p2.md-p3.lg-p4.bg-aqua.white
          .h1= "CTR: #{@webmaster.ctr}%"
        %table
          %tr
            %td= ReactionType.find(1).label
            %td= @webmaster.type_total_1
          %tr
            %td= ReactionType.find(2).label
            %td= @webmaster.type_total_2
          %tr
            %td= ReactionType.find(3).label
            %td= @webmaster.type_total_3
          %tr
            %td= ReactionType.find(4).label
            %td= @webmaster.type_total_4
          %tr
            %td= ReactionType.find(5).label
            %td= @webmaster.type_total_5
    .col.col-md-6
      .md-ml1
        %table
          %thead
            %tr
              %td{colspan:2}
                %h4.p2.m0.b1.b0-bottom Most reacted products
          - @products.each do |p|
            %tr
              %td
                %a.block{href:product_path(p.sid)}= p.name
              %td= p.count
