- content_for(:page_title) { "Sign up" }

.flex-none
  = devise_error_messages!
.flex-auto.flex.items-center
  .container-narrower.mx-auto.p2.md-p4.bg-white
    %h2 Sign up for Reactions
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .mb2.row
        .col-md-6
          = f.text_field :first_name, required: true, autofocus: true, placeholder: "First name"
        .col-md-6
          = f.text_field :last_name, required: true, placeholder: "Last name"
      .mb2
        = f.text_field :website_name, required: true, placeholder: "Website name"
      .mb2
        = f.text_field :website_url, required: true, placeholder: "Website address"
      .mb2
        = f.email_field :email, required: true, placeholder: "Email address"
      = f.submit "Sign up", class: "btn btn-full btn-lg"
