- content_for(:page_title) { "Sign up" }

- content_for :errors do
  = devise_error_messages!

%h2 Sign up for Reactions
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .mb2.row
    .col-md-6
      = f.text_field :first_name, required: true, autofocus: true, placeholder: "First name"
    .col-md-6
      = f.text_field :last_name, required: true, placeholder: "Last name"
  .mb2
    = f.text_field :website_name, required: true, placeholder: "Website name"
  .mb2
    = f.text_field :website_url, required: true, placeholder: "Website address"
  .mb2
    = f.email_field :email, required: true, placeholder: "Email address"
  .mb2
    = f.password_field :password, required: true, autocomplete: "off", placeholder: "Password"
  .mb2
    = f.password_field :password_confirmation, required: true, autocomplete: "off", placeholder: "Password (again)"
  = f.submit "Sign up", class: "btn btn-wide rounded"
