- content_for(:breadcrumbs) do
  %li
    %a{href:'/'} Webmasters
  %li
    %a{href:webmaster_path(@webmaster)}
      = "#{@webmaster.website_name} (#{@webmaster.nice_url})"
  %li
    %i.fa.fa-edit.mr1
    Edit


.container-narrow.p2.md-p3.lg-p4.bg-white
  = form_for(@webmaster) do |f|
    = render partial: 'form', locals: {f:f}
    .mb2.p3.bg-white
      .mb2
        %b Change password
        %i (leave blank for no change)
      .mb2.row
        .col-md-6
          = f.password_field :password, autocomplete: "off", placeholder: "New password"
        .col-md-6
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: "New password (again)"
    .actions
      %button.btn.btn-blue{type:'submit'}
        %i.fa.fa-save.mr1
        Save
