- content_for(:header) do
  %i.fa.fa-user.mr1
  Webmasters    

- content_for(:actions) do
  %a{href:new_webmaster_path}
    Create    
  
.flex
  %header.flex-auto
    Activity Overview
  .flex-none
    = render partial: 'shared/datepicker'
%table
  %thead
    %tr
      %td
        = sort_link('first_name', 'Name')
      %td
        = sort_link('website_name', 'Website')
      %td
        = sort_link('impression_count', 'Impressions')
      - ReactionType.all.each do |r|
        %td= r.name
      %td
        = sort_link('reaction_total', 'Total Reactions')
      %td
        = sort_link('total_ctr', 'Total CTR')
      %td
        Actions
  - @webmasters.each do |w|
    %tr
      %td
        %a{href:webmaster_path(w)}
          = w.name
      %td
        %a{href:"http://#{w.website_url}"}
          .gray-darker= w.website_name
          %i.h4= w.website_url
      %td
        = w.impression_count
      - ReactionType.all.each do |r|
        %td= w.send("type_count_#{r.id}")
      %td
        = w.reaction_total
      %td
        = "#{w.total_ctr}%"
      %td
        %a{href:edit_webmaster_url(w)} Edit
  
