#header.flex
  .flex-auto
    %h1
      %i.fa.fa-user.mr1
      Webmasters    
    
#body
  
  %header.flex
    .flex-auto
      Overview
    .flex-none
      = render partial: 'shared/datepicker'
  %table
    %thead
      %tr
        %td
          Name
        %td
          Website
        %td
          Impressions
        %td
          Total Reactions
        %td
          Total CTR
        - ReactionType.all.each do |r|
          %td.bg-gray-darkerer= r.name
        %td
          Actions
    - @webmasters.each do |w|
      %tr
        %td
          %a{href:webmaster_path(w)}
            = w.name
        %td
          %a{href:w.website}
            = w.website
        %td
          = w.impression_count(from_date,to_date)
        %td
          = w.reaction_count(from_date,to_date)
        %td
          = "#{w.ctr(from_date,to_date)}%"
        - ReactionType.all.each do |r|
          %td= w.reaction_count(from_date,to_date,r)
        %td
          %a{href:edit_webmaster_url(w)} Edit
    
