%header.flex.justify-between.items-center.y5
  %div
    %h1.inline-block
      Dashboard
    %div.inline-block
      Website

.row.center.mb3
  .col-xs-12.col-md-4
    .p2.md-p4.bg-gray-lighter.b1
      .h1.aqua.bold
        = @impression_total
      Impressions
  .col-xs-12.col-md-4
    .p2.md-p4.bg-gray-lighter.b1
      .h1.aqua.bold
        = @reaction_total
      Clicks
  .col-xs-12.col-md-4
    .p2.md-p4.bg-gray-lighter.b1
      .h1.aqua.bold
        = "#{@ctr}%"
      CTR
  
= render partial: 'shared/charts/line_chart', locals: { collection: Webmaster.all }

%table.mt3
  %thead
    %tr
      %td
        = sort_link('website_name', 'Company')
      %td
        = sort_link('first_name', 'Name')
      %td
        = sort_link('impression_total', 'Impressions')
      %td
        = sort_link('reaction_total', 'Total Reactions')
      %td
        = sort_link('ctr', 'Total CTR')
      %td
        Actions
  - @webmasters.each do |w|
    %tr
      %td
        = w.website_name
      %td
        = w.name
      %td
        = w.impression_total
      %td
        = w.reaction_total
      %td
        = "#{w.ctr}%"
      %td.right-align
        %a.mr2{href:webmaster_url(w)}
          %i.fa.fa-eye
        %a{href:edit_webmaster_url(w)}
          %i.fa.fa-edit
  
