- state = i == 0 ? 'tab-active' : ''
- style = scenario.image_url ? "background-image: url('#{scenario.image_url}')" : ''

.tab.emoticon-selector{data:{position:i},class:state}

  %button{type:'button', onclick: "", style: style}
  %label= scenario ? scenario.label : ''

  - content_for :emoticon_form do
    .tab-content.emoticon-form{data:{position:i},class:state} 
      = f.fields_for :scenarios, scenario do |ff|
        
        = ff.hidden_field :campaign_id
        = ff.hidden_field :emoticon_id, class: 'emoticon_id'
        
        = ff.label :label
        = ff.text_field :label, class: 'label'

        = ff.label :message
        = ff.text_field :message, class: 'message'
