- state = i == 0 ? 'tab-active' : ''

%button.emoticon-selector.tab{type:'button',data:{position:i},class:state}

  .emoticon
    .emoticon-img
      %img{src:scenario.try(:image_url)}

  %label.gray-dark= scenario ? scenario.label : ''

- content_for :emoticon_form do
  .tab-content.scenario-form{data:{position:i},class:state} 

    .scenario-create

      %button{type:'button',onclick:'app.scenario.addEmoticon(#{i});'}

    .scenario-fields

      %button{type:'button',onclick:"app.scenario.drop(#{i});"}
        Remove scenario

      %button{type:'button',onclick:'app.scenario.drop();'}
        Change emoticon

      = f.fields_for :scenarios, scenario do |ff|
        
        = ff.hidden_field :campaign_id
        = ff.hidden_field :emoticon_id, class: 'emoticon_id'
        
        = ff.label :label
        = ff.text_field :label, class: 'label'

        = ff.label :message
        = ff.text_field :message, class: 'message'
