- state = i == 0 ? 'tab-active' : ''
- enabled = scenario.enabled? ? '' : 'scenario-disabled'
- classname = "#{state} #{enabled}"

.scenario-selector.tab.py2{data:{position:i},class:classname}

  .emoticon
    .emoticon-img
      %img{src:scenario.try(:image_url)}
    %label= scenario.try(:label)

- content_for :emoticon_form do
  .tab-content.scenario-form{data:{position:i},class:state} 

    = f.fields_for :scenarios, scenario do |ff|
      
      = ff.hidden_field :id
      = ff.hidden_field :campaign_id
      = ff.hidden_field :enabled, class: 'scenario_enabled'
      = ff.hidden_field :emoticon_id, class: 'scenario_emoticon-id'

      .mb3
        = ff.label :emoticon
        
        %button.btn-inline{type:'button',onclick:"app.emoticon.upload(#{i});"}
          Upload your own image

        %button.btn-inline{type:'button',onclick:"app.emoticon.library(#{i});"}
          Select from our library
      
      .mb3
        = ff.label :label
        = ff.text_field :label, class: 'scenario_label'
      
      .mb3
        = ff.label :message
        = ff.text_field :message, class: 'scenario_message'
      
      %button.btn-inline{type:'button',onclick:"app.scenario.disable(#{i});"}
        %i.fa.fa-close.mr2
        Remove scenario