- @product = product
- @reaction_type = reaction_type

//#kaanjo-info
//  %img{src:static_asset_url('info.svg')}
//  #kaanjo-info-bubble
//    Powered by 
//    %a{href:'http://kaanjo.co',target:'_blank'} Kaanjo

#kaanjo-title
  How does this item make you feel?

- ReactionType.all.each do |r|
  %button{type:'button', onclick:"Kaanjo.react(#{r.id})", class:button_class(r), id:"kaanjo-reaction#{r.id}"}
    %img{src:emoticon_url(r)}
    %label
      .kaanjo-bubble= r.name

#kaanjo-status
  - if @reaction_type
    = render partial: 'client/status', locals: { reaction_type: @reaction_type, product: @product }

#kaanjo-copyright
  Powered by: 
  %a{href:'http://kaanjo.co',target:'_blank'} Kaanjo

= render partial: 'client/style'
