- @campaign = campaign
- @product = product
- @reaction = reaction

//#kaanjo-info
//  %img{src:static_asset_url('info.svg')}
//  #kaanjo-info-bubble
//    Powered by 
//    %a{href:'http://kaanjo.co',target:'_blank'} Kaanjo

#kaanjo-title
  = @campaign.question

- @campaign.scenarios.each do |r|
  %button{type:'button', onclick:"Kaanjo.react(#{r.id})", class:button_class(r), id:"kaanjo-reaction#{r.id}"}
    %img{src:r.image_url}
    %label
      .kaanjo-bubble= r.label

#kaanjo-status
  - if @reaction
    = render partial: 'client/status', locals: { reaction: @reaction, product: @product }

#kaanjo-copyright
  Powered by: 
  %a{href:'http://kaanjo.co',target:'_blank'} Kaanjo

= render partial: 'client/style'
