- @campaign = campaign
- @product = product
- @reaction = reaction

//#kaanjo-info
//  %img{src:static_asset_url('info.svg')}
//  #kaanjo-info-bubble
//    Powered by 
//    %a{href:'http://kaanjo.co',target:'_blank'} Kaanjo

#kaanjo-title
  = @campaign.question

#kaanjo-buttons
  - @campaign.scenarios.each do |s|
    %button{type:'button', onclick:"Kaanjo.react(#{s.id})", class:button_class(s), id:"kaanjo-reaction#{s.id}"}
      %img{src:"http://#{site_url}#{s.image_url}"}
      %label
        = s.label

#kaanjo-status
  - if @reaction
    = render partial: 'client/status', locals: { reaction: @reaction, product: @product }

#kaanjo-power
  %a{href:'http://kaanjo.co',target:'_blank'}
    %img{src:image_url('powered-by.png')}

= render partial: 'client/style'
