#logo 
  = site_name

- if current_user

  #user.mb2
    = current_user.name
    .h5.aqua
      = current_user.subtitle

  - if current_user.admin?
    = render partial: 'shared/sidebar/for_admin'
  - else
    = render partial: 'shared/sidebar/for_webmaster'

  = render partial: 'shared/sidebar/for_all'
  
- else
  = render partial: 'shared/sidebar/for_guest'

