- content_for(:page_title) { "Setup Guide" }

- content_for(:header) do
  %i.fa.fa-gear.mr1
  Setup guide

.container-narrow.p2.md-p3.lg-p4.bg-white.flex-auto
  %h1 Ready to rock?
  %p Setting up Reactions is quick & easy, all you need to do is place this script anywhere on your site:
  %code.mb3
    = '<script>'
    = render partial:'client/script'
    = '</script>'
  %p And on your product pages, place this HTML wherever you want the emoticons to appear:
  %code.mb3
    = render partial:'client/html'
  %p= "Don't forget to change the <b>data-product</b> attribute for each product - all of the data recorded will be associated with these values.".html_safe

  %h3.mt4 Important!
  %p 
    Your settings currently allow for products to be 
    %u automatically created 
    based on the HTML you provide above.
  %p If Kaanjo can't find a product with the name you provide (in the above example "Your awesome product"), it will create it for you.
  Once you're satisfied that all of your products have been created, you should
  %a{href:edit_user_registration_path} disable product creation
  until you need to add more.
