#scenarios

  %h3 Your scenarios

  .row

    - @campaign.scenarios.try(:each) do |scenario|
      .col-xs-3 
        = f.fields_for :scenarios, scenario do |ff|
          = ff.hidden_field :campaign_id
          = ff.hidden_field :emoticon_id, class: 'emoticon_id'
          %img{src:scenario.image_url}
          %label= scenario.label

    - (6 - @campaign.scenarios.length).times do  
      = f.fields_for :scenarios, Scenario.new do |ff|
        .col-xs-3
          = ff.hidden_field :campaign_id, value: @campaign.id
          = ff.hidden_field :id, value: nil
          %img{src:''}
          %label
    
          .tab-content{data:{id:1}}

    
%button{type:'button',onclick:"app.modal.show('#emoticon-library')"}
  %i.fa.fa-plus