- content_for(:page_title) { "Sign up" }

- content_for(:header) do
  Login

.flex-auto.flex.items-center
  .container-narrower.mx-auto.p2.md-p4.bg-white
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .mb2
        = f.label :email
        = f.email_field :email, autofocus: true
      .mb2
        = f.label :password
        = f.password_field :password, autocomplete: "off"
      - if devise_mapping.rememberable?
        .mb2
          = f.check_box :remember_me
          Remember me
      .actions
        = f.submit "Log in"
      .mt3
        = render "devise/shared/links"
