.mb3
  = f.label :social_proof, "Tagline (optional)", class: 'h2 gray-darker'
  = f.text_field :social_proof, { maxlength: 120 }
.mb3
  = f.label :question, "Your question or message (optional)", class: 'h2 gray-darker'
  = f.text_field :question, { maxlength: 120 }
.mb3
  = render partial: 'campaigns/scenarios/form', locals: {f:f}

- content_for :modal do
  = render partial: 'campaigns/scenarios/emoticons/library'