.mb3
  = f.label :name, "Name your campaign"
  = f.text_field :name
.mb3
  = f.label :social_proof, "Social proof sentence"
  = f.text_field :social_proof
.mb3
  = f.label :question, "Your question or message"
  = f.text_field :question
.mb3
  = render partial: 'campaigns/scenarios/form', locals: {f:f}

- content_for :modal do
  = render partial: 'campaigns/scenarios/emoticons/library'