- sorting = sorted
- if type && !params.key?(:a)
  - sorting[:order_by] = "type_ctr_#{type}".to_sym

%table
  %thead
    %tr
      %td ID
      %td= sort_link('name','Name')
      %td= sort_link('impression_total','Impressions')
      %td= sort_link('reaction_total','Clicks')
      %td= sort_link(nil,'CTR')
      %td Link
  %tbody
    - campaign.products.with_totals(sorting).each do |p|
      - if type
        - reaction_total = p.send("type_total_#{type}")
        - ctr = p.send("type_ctr_#{type}")
      - else
        - reaction_total = p.reaction_total
        - ctr = p.ctr
      %tr
        %td= p.sid
        %td= p.name
        %td= p.impression_total
        %td= reaction_total
        %td= "#{ctr}%"
        %td
          %a{href:p.url,target:'_blank'}
            %img.x2{src:image_url('ui/link.svg')}