- content_for(:breadcrumbs) do
  %li
    %a{href:campaigns_path}
      Campaigns
  %li
    = @campaign.name

.container-narrow.p2.md-p3.lg-p4.bg-white
  = form_for(@campaign) do |f|
    = render partial: 'design_form', locals: {f:f}
    = render partial: 'settings_form', locals: {f:f}
    .actions
      = f.submit "Update", class: 'btn btn-blue'
   
  %code
    = '<script>'
    = render(partial: 'client/script', locals: { cid: @campaign.relative_id })
    = '</script>'