- content_for(:breadcrumbs) do
  - if admin?
    %li
      %a{href:'/'}
        Webmasters
    %li
      = render partial: 'shared/webmaster_selector'
    %li
      = "Edit campaign: #{@campaign.name}"
  - elsif webmaster?
    %li
      %a{href:campaigns_path}
        Campaigns
    %li
      %a{href:campaign_url(@campaign.relative_id)}= @campaign.name
    %li
      Edit

- content_for :actions do 
  - id = @campaign.relative_id
  - id = @campaign.id if admin?
  %a.btn.mr1{href:campaign_url(id)}
    %i.fa.fa-line-chart.mr1
    View
  %a.btn.mr1{href:implement_campaign_url(id)}
    %i.fa.fa-code.mr1
    Setup

.container-narrow.p2.md-p3.lg-p4

  = form_for(@campaign) do |f|
    = render partial: 'design_form', locals: {f:f}
    = render partial: 'settings_form', locals: {f:f}
    .actions
      %button.btn.btn-blue.btn-lg.btn-full{type:'submit'}
        %i.fa.fa-save.mr1
        Update