- content_for :actions do 
  - if webmaster?
    %a.btn.btn-blue{href:new_campaign_path}
      %i.fa.fa-plus.mr1
      New Campaign

- content_for :breadcrumbs do
  %li
    Campaigns

= render partial: 'shared/charts/line_chart', locals: { collection: current_webmaster.campaigns }

%table.mt3
  %thead        
    %tr
      %td
        = sort_link('name', 'Campaign name')
      %td
        = sort_link('impression_total', 'Impressions')
      %td
        = sort_link('reaction_total', 'Clicks')
      %td 
        = sort_link('ctr', 'CTR')
      %td
        Status
      %td.center
        Actions
  %tbody
    - @campaigns.each do |c|
      %tr
        %td
          %a{href:campaign_path(c.relative_id)}= c.name
        %td= c.impression_total
        %td= c.reaction_total
        %td= "#{c.ctr}%"
        %td= c.status
        %td.center
          %a{href:campaign_path(c.relative_id),title:'View'}
            %i.fa.fa-eye
          %a.mx1{href:edit_campaign_path(c.relative_id),title:'Edit'}
            %i.fa.fa-edit
          %a{href:campaign_path(c.relative_id),title:'Delete',data:{method:'delete',confirm:"Are you sure you want to delete \'#{c.name}\'?"}}
            %i.fa.fa-close
    
