%header.flex.justify-between.items-center.y5
  %h1
    Dashboard

= render partial: 'shared/chart'

%table
  %thead        
    %tr
      %td
        = sort_link('name', 'Campaign name')
      %td
        = sort_link('impression_total', 'Impressions')
      %td
        = sort_link('reaction_total', 'Total reactions')
      %td 
        = sort_link('ctr', 'CTR')
      %td
        Actions
  %tbody
    - @campaigns.each do |c|
      %tr
        %td
          %a{href:campaign_path(c.relative_id)}= c.name
        %td= c.impression_total
        %td= c.reaction_total
        %td= "#{c.ctr}%"
        %td.right-align
          %a.mr1{href:edit_campaign_path(c.relative_id),title:'Edit'}
            %i.fa.fa-edit
          %a.mr1{href:campaign_path(c.relative_id),title:'Delete',data:{method:'delete',confirm:"Are you sure you want to delete \'#{c.name}\'?"}}
            %i.fa.fa-close
    
