- content_for :actions do 
  - if admin?
    %a.btn.btn-blue{href:edit_webmaster_path(current_webmaster)}
      %i.fa.fa-edit.mr1
      Edit webmaster
  - elsif webmaster?
    %a.btn.btn-blue{href:new_campaign_path}
      %i.fa.fa-plus.mr1
      New Campaign

- content_for :breadcrumbs do
  - if admin?
    %li
      %a{href:'/'} Webmasters
    %li
      = render partial: 'shared/webmaster_selector'
  - else
    %li
      Campaigns

= render partial: 'shared/charts/line_chart', locals: { collection: current_webmaster.campaigns }

%table.mt3
  %thead        
    %tr
      %td
        = sort_link('name', 'Campaign name')
      %td
        = sort_link('impression_total', 'Impressions')
      %td
        = sort_link('reaction_total', 'Clicks')
      %td 
        = sort_link('ctr', 'CTR')
      %td
        Status
      %td.right-align
        Actions
  %tbody
    - @campaigns.each do |c|
      - id = c.relative_id
      - id = c.id if admin?
      %tr
        %td
          %a{href:campaign_path(id)}= c.name
        %td= c.impression_total
        %td= c.reaction_total
        %td= "#{c.ctr}%"
        %td= c.status
        %td.right-align
          %a{href:campaign_path(id),title:'View'}
            %i.fa.fa-eye
          %a.mx1{href:implement_campaign_path(id),title:'Setup'}
            %i.fa.fa-code
          %a{href:edit_campaign_path(id),title:'Edit'}
            %i.fa.fa-edit
