- content_for(:header) do
  %i.fa.fa-diamond.mr1
  %a{href:campaigns_path} Campaigns
  New campaign

.container-narrow.p2.md-p3.lg-p4.bg-white

  .step.center
    
    %h1 How would you like to create your emoticons?

    .row
      .col-xs-12.col-md-6
        %h2 Template
        Select from a list of predefined emoticons or case scenarios and customize it to your needs.
        %button{onclick:"app.step('#select-template')"}
          Choose template

      .col-xs-12.col-md-6
        %h2 Custom
        Upload your own emoticons and customize the messages.
        %button{onclick:"app.step('#customize');"}
          I will do it

  #select-template.step

    %h1.mb0 Select your template

    - DefaultCampaign.all.each do |c|
      .b1.mt3
        .campaign-template.flex.items-center{data:{id:c.id,question:c.question}}
          .flex-auto.p2.br1
            %h4= c.name
            = render partial: 'campaigns/scenarios/emoticons/set', locals: {campaign:c}
          .flex-none.p2
            %button{onclick:"app.step('#customize');app.campaign.clone_template(#{c.id})"}
              Select

  #customize.step

    = form_for(@campaign) do |f|
      = render partial: 'form', locals: {f:f}
      .actions
        = f.submit "Create"

= render partial: 'campaigns/scenarios/emoticons/library'