%table
  %thead
    %tr
      %td{colspan:7} 
        Product overview
    %tr
      %td
        Product name
      %td
        Impressions
      %td
        Reactions
      - ReactionType.all.each do |r|
        %td= r.name
  - products.each do |p|
    %tbody
      %tr
        %td
          %a{href:product_path(p)}= p.name
        %td= p.impression_count
        %td= p.reaction_count
        - ReactionType.all.each do |r|
          %td= p.reaction_count(r)
    
