!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= page_title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.vh-ymin100.flex.flex-column.items-stretch{class:controller_name}
    .flex-auto.flex
      %nav#sidebar.flex-none
        = render partial: 'shared/sidebar'
      .flex-auto.flex.flex-column
        = render partial: 'shared/header'
        = render partial: 'shared/flashes'
        = yield
  }
