!!!
%html
  %head
    %meta{:content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', :name => 'viewport'}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= page_title
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags

  %body

    = render partial: 'shared/flashes'

    #header.bb1
      .container
        .flex.justify-between.items-center.y5
          
          .flex.items-center
            %a.block.x5.lh0{href:'/'}
              %img.block{src:image_url('logo.svg')}
            .ml3.bl2.pl3.py1.lh1
            - if admin?
              Admin (full access)
            - elsif webmaster?
              = current_webmaster.nice_url

          .flex.items-end.items-center
            = content_for :header
            .dropdown.right-align.ml1
              %label#avatar.pr0{for:'user-menu-toggle'}
                .input.round.center.inline-block
                  = current_user.first_name[0]
              %input#user-menu-toggle.hide{type:'checkbox'}
              %ul#user-menu
                - if admin?
                  %li
                    %a{href:'/',class:cp('/')}
                      Webmasters
                      %i.fa.fa-user.ml1
                  %li
                    %a{href:campaign_templates_path,class:cp(campaign_templates_path)}
                      Campaign templates
                      %i.fa.fa-diamond.ml1
                - elsif webmaster?
                  %li
                    %a{href:'/',class:cp('/')}
                      Campaigns
                      %i.fa.fa-diamond.ml1
                  %li
                    %a{href:'/setup',class:cp('/setup')}
                      Setup
                      %i.fa.fa-code.ml1
                %li
                  %a{href:edit_user_registration_path,class:cp(edit_user_registration_path)}
                    Account settings
                    %i.fa.fa-gear.ml1
                %li
                  %a{href:destroy_user_session_path, 'data-method'=>'delete'} 
                    Logout
                    %i.fa.fa-sign-out.ml1

    = content_for :after_header

    #body{class:body_class}
      - if content_for(:breadcrumbs)
        .flex.justify-between.items-center.y5.my2.bb1
          %ul#breadcrumbs
            = content_for :breadcrumbs
          %div
            = content_for :actions
      = yield

    #modal
      = content_for :modal