!!!
%html
  %head
    %meta{:content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', :name => 'viewport'}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= page_title
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags

  %body

    = render partial: 'shared/flashes'

    #header
      .container
        .flex.justify-between.items-center.y5
          
          .flex.items-center
            %a.block.x5.lh0{href:'/'}
              %img.block{src:image_url('logo.svg')}
            - if webmaster?
              .ml3.bl2.pl3.py1.lh1
                = current_webmaster.nice_url

          .flex.items-end.items-center
            - if webmaster?
              %a.btn.btn-blue{href:new_campaign_path}
                New Campaign
            - elsif admin?
              %a.btn.btn-blue{href:new_campaign_template_path}
                New Template
            .dropdown.right-align.ml1
              %label#avatar{for:'user-menu-toggle'}
                .input.round.center.inline-block
                  = current_user.first_name[0]
              %input#user-menu-toggle.hide{type:'checkbox'}
              %ul#user-menu
                %li
                  %a{href:'/',class:cp('/')}
                    Campaigns
                    %i.fa.fa-diamond.ml1
                %li
                  %a{href:'/setup',class:cp('/setup')}
                    Setup
                    %i.fa.fa-code.ml1
                %li
                  %a{href:edit_user_registration_path,class:cp(edit_user_registration_path)}
                    Account settings
                    %i.fa.fa-gear.ml1
                %li
                  %a{href:destroy_user_session_path, 'data-method'=>'delete'} 
                    Logout
                    %i.fa.fa-sign-out.ml1

    = content_for :after_header

    #body.container= yield

    #modal
      = content_for :modal