!!!
%html
  %head
    %meta{:content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', :name => 'viewport'}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= page_title
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags

  %body.vh-ymin100.flex.items-middle.bg-gray-lighter
    = content_for :errors
    .island
      %img.x-max5.mb2{src:image_url('logo.svg')}
      = yield